spring:
  application:
    name: woohakdong-server

  h2:
    console:
      enabled: false
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update

  cloud:
    aws:
      s3:
        bucket-name: ${AWS_S3_BUCKET_NAME:woohakdong_dummy_bucket}

jwt:
  secret: ${JWT_SECRET:woohakdongwoohakdongwoohakdong1234}

cookie:
  secure: ${COOKIE_SECURE:false}
  same-site: ${COOKIE_SAME_SITE:None}
  domain: .woohakdong.com
